In [1]:
import pandas as pd
import pickle
model = pickle.load(open("decision_tree_classifier.pkl",'rb'))
ohe = pickle.load(open('onehotencoder.pkl','rb'))

In [2]:
while True:
    age = input("Enter the Age: ")
    try:
        if (int(age) > 0 and int(age) < 150):
            age = int(age)
            break
    except Exception:
        print("Please enter valid numbers!")

    
while True:
    bp = input("Enter the BP (Low or Normal or High): ")
    if (bp.lower() == 'low' or bp.lower() == 'normal' or bp.lower() == 'high'):
        break
    else:
        print("Please enter any one low, normal or high!")

while True:
    choles = input("Enter the Cholesterol (Normal or High): ")
    if (choles.lower() == 'normal' or choles.lower() == 'high'):
        break
    else:
        print("Please enter any one normal or high!")

while True:
    ntk = input("Enter the Na_to_K: ")
    try:
        if float(ntk):
            ntk = float(ntk)
            break
    except Exception:
        print("Please enter valid numbers!")

Please enter valid numbers!
Please enter valid numbers!

In [11]:
x = []
x.append([age,bp,choles,ntk])

In [12]:
x = pd.DataFrame(x)
x

    0    1     2         3
0  25  low  high  125.3646

In [13]:
cat_col = []
for i in x.select_dtypes('object').columns:
    cat_col.append(i)

In [14]:
encoded_x = ohe.transform(x[cat_col])
encoded_x

c:\Users\sevug\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[0., 0., 0., 0., 0.]])

In [15]:
x_encoder = pd.DataFrame(
    encoded_x, 
    columns=ohe.get_feature_names_out()
)

In [16]:
x_encoder

   BP_HIGH  BP_LOW  BP_NORMAL  Cholesterol_HIGH  Cholesterol_NORMAL
0      0.0     0.0        0.0               0.0                 0.0

In [17]:
x_values = pd.concat([x,x_encoder],axis=1)
x_values

,0,1,2,3,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
0,25,low,high,125.3646,0.0,0.0,0.0,0.0,0.0

In [32]:
x_values.columns

Index([                   0,                    1,                    2,
                          3,            'BP_HIGH',             'BP_LOW',
                'BP_NORMAL',   'Cholesterol_HIGH', 'Cholesterol_NORMAL'],
      dtype='object')

In [33]:
values = x_values[[0, 3, 'BP_HIGH', 'BP_LOW', 'Cholesterol_HIGH']]

In [36]:
values.rename(columns={0:'Age', 3: "Na_to_K"},inplace=True)
values

C:\Users\sevug\AppData\Local\Temp\ipykernel_2384\782011010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  values.rename(columns={0:'Age', 3: "Na_to_K"},inplace=True)

     Age   Na_to_K  BP_HIGH  BP_LOW  Cholesterol_HIGH
Age   25  125.3646      0.0     0.0               0.0

In [37]:
preds = model.predict(values)

In [39]:
preds[0]

'drugY'